services:
  - type: web
    name: blogx
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    envVars:
      - key: MONGODB_URI
        value: mongodb+srv://blogx-user:Blogx%40123@blogx-cluster.rh53lkm.mongodb.net/blogx?retryWrites=true&w=majority